[[source]]
name = "pypi"
url = "https://pypi.mirrors.ustc.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
ipython = "*"
tqdm = "*"
requests = "*"
faker = "*"
matplotlib = "*"
aiohttp = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
